<figure>
  <img src="assets/travis.jpg" alt="">
  <figcaption>Техасский адвокат Томас Джей Генри подал коллективный иск от лица пострадавших на фестивале
    Astroworld. Они требуют компенсацию в размере $2 млрд от Трэвиса Скотта, Дрейка, Apple Music,
    Live Nation и NRG Stadium. Коллективный иск был подан от лица 282 жертв концерта.
    По словам Генри, у его клиентов были различные травмы в диапазоне от сердечных приступов и
    травм головного мозга до переломов и сильных ушибов.
  </figcaption>
</figure>
